# HTTP redirect to HTTPS
server {
    listen 80;
    server_name safesurf.tech www.safesurf.tech api.safesurf.tech admin.safesurf.tech;
    server_name safesurf.local www.safesurf.local api.safesurf.local admin.safesurf.local;
    
    location / {
        return 301 https://$host$request_uri;
    }
} 