{
  "openapi": "3.0.2",
  "info": {
    "title": "IS Hosting API",
    "description": "IS Hosting API",
    "contact": {
      "name": "API Support",
      "email": "support@ishosting.com"
    },
    "version": "1.1.0",
    "termsOfService": "https://ishosting.com/en/terms-of-use"
  },
  "tags": [
    {
      "name": "Profile",
      "description": "Profiling"
    },
    {
      "name": "Settings",
      "description": "Settings"
    },
    {
      "name": "Services",
      "description": "Services"
    },
    {
      "name": "VPS",
      "description": "Working with VPS"
    },
    {
      "name": "Storage",
      "description": "Working with Storages"
    },
    {
      "name": "Dedicated",
      "description": "Working with Dedicateds"
    },
    {
      "name": "VPN",
      "description": "Working with VPN"
    },
    {
      "name": "Billing",
      "description": "Invoices, Payments, etc."
    }
  ],
  "servers": [
    {
      "url": "https://api.ishosting.com",
      "description": "ishosting api server"
    }
  ],
  "paths": {
    "/profile": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Get profile info",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApiTokenHeaderParam"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProfileResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/settings/profile": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        }
      ],
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "Get profile settings",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProfileSettingResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Settings"
        ],
        "summary": "Edit profile settings",
        "requestBody": {
          "$ref": "#/components/requestBodies/ProfilePatchBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProfileSettingResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/settings/ssh": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        }
      ],
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "Get ssh keys",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SSHKeysListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Settings"
        ],
        "summary": "Add new ssh key",
        "requestBody": {
          "$ref": "#/components/requestBodies/SSHkeyCreateBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SSHKeyResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/settings/ssh/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "delete": {
        "tags": [
          "Settings"
        ],
        "summary": "Delete ssh key",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SSHKeyResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/services/stats": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Get services counters and stats",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApiTokenHeaderParam"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServicesStatsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/services/list": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Get services list short info",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApiTokenHeaderParam"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServicesListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vps/list": {
      "get": {
        "tags": [
          "VPS"
        ],
        "summary": "Get VPS list",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApiTokenHeaderParam"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
          },
          {
            "$ref": "#/components/parameters/QueryFilterParam"
          },
          {
            "$ref": "#/components/parameters/LocationsFilterParam"
          },
          {
            "$ref": "#/components/parameters/PlansFilterParam"
          },
          {
            "$ref": "#/components/parameters/PlatformsFilterParam"
          },
          {
            "$ref": "#/components/parameters/StatusesFilterParam"
          },
          {
            "$ref": "#/components/parameters/StatesFilterParam"
          },
          {
            "$ref": "#/components/parameters/LimitListParam"
          },
          {
            "$ref": "#/components/parameters/OffsetListParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPSListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vps/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "get": {
        "tags": [
          "VPS"
        ],
        "summary": "Get VPS info",
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPSResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "VPS"
        ],
        "summary": "Patch VPS info",
        "requestBody": {
          "$ref": "#/components/requestBodies/VPSPatchBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPSResponsePatch"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vps/{id}/status": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "get": {
        "tags": [
          "VPS"
        ],
        "summary": "Get VPS status",
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPSStatusResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vps/{id}/status/{action}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        },
        {
          "$ref": "#/components/parameters/StatusActionPathParam"
        }
      ],
      "patch": {
        "tags": [
          "VPS"
        ],
        "summary": "Change VPS status",
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPSStatusResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vps/plans": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/LocationsFilterParam"
        },
        {
          "$ref": "#/components/parameters/PlatformsFilterParam"
        },
        {
          "$ref": "#/components/parameters/DriveFilterParam"
        },
        {
          "$ref": "#/components/parameters/PeriodFilterParam"
        },
        {
          "$ref": "#/components/parameters/TopFilterParam"
        }
      ],
      "get": {
        "tags": [
          "VPS"
        ],
        "summary": "Get VPS plans list",
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPSPlansResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vps/plan/{code}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/CodePathParam"
        }
      ],
      "get": {
        "tags": [
          "VPS"
        ],
        "summary": "Get VPS plan by code",
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPSPlanResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vps/configs/{code}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/CodePathParam"
        }
      ],
      "get": {
        "tags": [
          "VPS"
        ],
        "summary": "Get VPS available configs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPSConfigsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vps/{id}/vnc": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "patch": {
        "tags": [
          "VPS"
        ],
        "summary": "Patch VPS VNC access",
        "requestBody": {
          "$ref": "#/components/requestBodies/VPSPatchVNC"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPSResponsePatchVNC"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vps/{id}/access/ssh": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "patch": {
        "tags": [
          "VPS"
        ],
        "summary": "Patch VPS SSH access",
        "requestBody": {
          "$ref": "#/components/requestBodies/ServicePatchSSH"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServiceResponsePatchSSH"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vps/{id}/network/{protocol}/{ip}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        },
        {
          "$ref": "#/components/parameters/IpPathParam"
        },
        {
          "$ref": "#/components/parameters/ProtocolPathParam"
        }
      ],
      "patch": {
        "tags": [
          "VPS"
        ],
        "summary": "Patch VPS IP",
        "requestBody": {
          "$ref": "#/components/requestBodies/ServicePatchIPS"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServiceResponsePatchIPS"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "VPS"
        ],
        "summary": "Delete VPS IP",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServiceResponsePatchIPS"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vpn/list": {
      "get": {
        "tags": [
          "VPN"
        ],
        "summary": "Get VPN list",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApiTokenHeaderParam"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
          },
          {
            "$ref": "#/components/parameters/QueryFilterParam"
          },
          {
            "$ref": "#/components/parameters/LocationsFilterParam"
          },
          {
            "$ref": "#/components/parameters/PlansFilterParam"
          },
          {
            "$ref": "#/components/parameters/PlatformsFilterParam"
          },
          {
            "$ref": "#/components/parameters/StatusesFilterParam"
          },
          {
            "$ref": "#/components/parameters/StatesFilterParam"
          },
          {
            "$ref": "#/components/parameters/LimitListParam"
          },
          {
            "$ref": "#/components/parameters/OffsetListParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPNListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vpn/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "get": {
        "tags": [
          "VPN"
        ],
        "summary": "Get VPN info",
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPNResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "VPN"
        ],
        "summary": "Patch VPN info",
        "requestBody": {
          "$ref": "#/components/requestBodies/VPNPatchBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPNResponsePatch"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vpn/{id}/status": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "get": {
        "tags": [
          "VPN"
        ],
        "summary": "Get VPN status",
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPNStatusResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vpn/{id}/status/{action}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        },
        {
          "$ref": "#/components/parameters/StatusActionPathParam"
        }
      ],
      "patch": {
        "tags": [
          "VPN"
        ],
        "summary": "Change VPN status",
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPNStatusResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vpn/plans": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/LocationsFilterParam"
        },
        {
          "$ref": "#/components/parameters/PeriodFilterParam"
        },
        {
          "$ref": "#/components/parameters/TopFilterParam"
        }
      ],
      "get": {
        "tags": [
          "VPN"
        ],
        "summary": "Get VPN plans list",
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPNPlansResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vpn/plan/{code}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/CodePathParam"
        }
      ],
      "get": {
        "tags": [
          "VPN"
        ],
        "summary": "Get VPN plan by code",
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPNPlanResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vpn/configs/{code}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/CodePathParam"
        }
      ],
      "get": {
        "tags": [
          "VPN"
        ],
        "summary": "Get VPN available configs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/VPNConfigsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/vpn/{id}/network/{protocol}/{ip}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        },
        {
          "$ref": "#/components/parameters/IpPathParam"
        },
        {
          "$ref": "#/components/parameters/ProtocolPathParam"
        }
      ],
      "patch": {
        "tags": [
          "VPN"
        ],
        "summary": "Patch VPN IP",
        "requestBody": {
          "$ref": "#/components/requestBodies/ServicePatchIPS"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServiceResponsePatchIPS"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "VPN"
        ],
        "summary": "Delete VPN IP",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServiceResponsePatchIPS"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/storage/list": {
      "get": {
        "tags": [
          "Storage"
        ],
        "summary": "Get Storage list",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApiTokenHeaderParam"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
          },
          {
            "$ref": "#/components/parameters/QueryFilterParam"
          },
          {
            "$ref": "#/components/parameters/LocationsFilterParam"
          },
          {
            "$ref": "#/components/parameters/StatusesFilterParam"
          },
          {
            "$ref": "#/components/parameters/StatesFilterParam"
          },
          {
            "$ref": "#/components/parameters/LimitListParam"
          },
          {
            "$ref": "#/components/parameters/OffsetListParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/StorageListResponce"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/storage/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "get": {
        "tags": [
          "Storage"
        ],
        "summary": "Get Storage info",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StorageResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Storage"
        ],
        "summary": "Patch Storage info",
        "requestBody": {
          "$ref": "#/components/requestBodies/StoragePatchBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StorageResponsePatch"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/storage/{id}/status": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "get": {
        "tags": [
          "Storage"
        ],
        "summary": "Get Storage status",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StorageStatusResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/storage/{id}/status/{action}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        },
        {
          "$ref": "#/components/parameters/StatusActionPathParam"
        }
      ],
      "patch": {
        "tags": [
          "Storage"
        ],
        "summary": "Change Storage status",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StorageStatusResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/storage/plans": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/LocationsFilterParam"
        },
        {
          "$ref": "#/components/parameters/PeriodFilterParam"
        },
        {
          "$ref": "#/components/parameters/TopFilterParam"
        }
      ],
      "get": {
        "tags": [
          "Storage"
        ],
        "summary": "Get storage plans list",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StoragePlansResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/storage/plan/{code}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/CodePathParam"
        }
      ],
      "get": {
        "tags": [
          "Storage"
        ],
        "summary": "Get storage plan by code",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StoragePlanResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/storage/configs/{code}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/CodePathParam"
        }
      ],
      "get": {
        "tags": [
          "Storage"
        ],
        "summary": "Get Storage available configs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StorageConfigsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/storage/{id}/access/ssh": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "patch": {
        "tags": [
          "Storage"
        ],
        "summary": "Patch Storage SSH access",
        "requestBody": {
          "$ref": "#/components/requestBodies/ServicePatchSSH"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServiceResponsePatchSSH"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/storage/{id}/access/ftp": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "patch": {
        "tags": [
          "Storage"
        ],
        "summary": "Patch Storage FTP access",
        "requestBody": {
          "$ref": "#/components/requestBodies/StoragePatchFTP"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StorageResponsePatchFTP"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/storage/{id}/access/sftp": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "patch": {
        "tags": [
          "Storage"
        ],
        "summary": "Patch Storage sFTP access",
        "requestBody": {
          "$ref": "#/components/requestBodies/StoragePatchFTP"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StorageResponsePatchFTP"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dedicated/list": {
      "get": {
        "tags": [
          "Dedicated"
        ],
        "summary": "Get Dedicated list",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApiTokenHeaderParam"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
          },
          {
            "$ref": "#/components/parameters/QueryFilterParam"
          },
          {
            "$ref": "#/components/parameters/LocationsFilterParam"
          },
          {
            "$ref": "#/components/parameters/StatusesFilterParam"
          },
          {
            "$ref": "#/components/parameters/StatesFilterParam"
          },
          {
            "$ref": "#/components/parameters/LimitListParam"
          },
          {
            "$ref": "#/components/parameters/OffsetListParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DedicatedListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dedicated/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "get": {
        "tags": [
          "Dedicated"
        ],
        "summary": "Get Dedicated info",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DedicatedResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Dedicated"
        ],
        "summary": "Patch Dedicated info",
        "requestBody": {
          "$ref": "#/components/requestBodies/DedicatedPatchBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DedicatedResponsePatch"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dedicated/{id}/status": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "get": {
        "tags": [
          "Dedicated"
        ],
        "summary": "Get Dedicated status",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DedicatedStatusResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dedicated/{id}/status/{action}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        },
        {
          "$ref": "#/components/parameters/StatusActionPathParam"
        }
      ],
      "patch": {
        "tags": [
          "Dedicated"
        ],
        "summary": "Change Dedicated status",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DedicatedStatusResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dedicated/plans": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/LocationsFilterParam"
        },
        {
          "$ref": "#/components/parameters/RAMRangeFilterParam"
        },
        {
          "$ref": "#/components/parameters/CPUTypeFilterParam"
        },
        {
          "$ref": "#/components/parameters/CPURangeFilterParam"
        },
        {
          "$ref": "#/components/parameters/DriveTypeFilterParam"
        },
        {
          "$ref": "#/components/parameters/DriveRangeFilterParam"
        },
        {
          "$ref": "#/components/parameters/BandwidthRangeFilterParam"
        },
        {
          "$ref": "#/components/parameters/TrafficRangeFilterParam"
        },
        {
          "$ref": "#/components/parameters/GPUFilterParam"
        },
        {
          "$ref": "#/components/parameters/DDoSFilterParam"
        },
        {
          "$ref": "#/components/parameters/SortPriceFilterParam"
        },
        {
          "$ref": "#/components/parameters/PeriodFilterParam"
        },
        {
          "$ref": "#/components/parameters/TopFilterParam"
        }
      ],
      "get": {
        "tags": [
          "Dedicated"
        ],
        "summary": "Get Dedicated plans list",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DedicatedPlansResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dedicated/plan/{code}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/CodePathParam"
        }
      ],
      "get": {
        "tags": [
          "Dedicated"
        ],
        "summary": "Get Dedicated plan by code",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DedicatedPlanResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dedicated/configs/{code}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/CodePathParam"
        }
      ],
      "get": {
        "tags": [
          "Dedicated"
        ],
        "summary": "Get Dedicated available configs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DedicatedConfigsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dedicated/{id}/access/ssh": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "patch": {
        "tags": [
          "Dedicated"
        ],
        "summary": "Patch Dedicated SSH access",
        "requestBody": {
          "$ref": "#/components/requestBodies/ServicePatchSSH"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServiceResponsePatchSSH"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dedicated/{id}/network/{protocol}/{ip}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        },
        {
          "$ref": "#/components/parameters/IpPathParam"
        },
        {
          "$ref": "#/components/parameters/ProtocolPathParam"
        }
      ],
      "patch": {
        "tags": [
          "Dedicated"
        ],
        "summary": "Patch Dedicated IP",
        "requestBody": {
          "$ref": "#/components/requestBodies/ServicePatchIPS"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServiceResponsePatchIPS"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Dedicated"
        ],
        "summary": "Delete Dedicated IP",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServiceResponsePatchIPS"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/billing/order/validate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        }
      ],
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Validate order",
        "requestBody": {
          "$ref": "#/components/requestBodies/OrderPost"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrderResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/billing/order": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        }
      ],
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create order",
        "requestBody": {
          "$ref": "#/components/requestBodies/OrderPost"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/InvoiceResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/billing/configs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        }
      ],
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get billing configs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BillingConfigsResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/billing/promo/{code}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/CodePathParam"
        }
      ],
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Check promo code",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PromoCodeResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/billing/invoices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/PeriodFromFilterParam"
        },
        {
          "$ref": "#/components/parameters/PeriodToFilterParam"
        },
        {
          "$ref": "#/components/parameters/LimitListParam"
        },
        {
          "$ref": "#/components/parameters/OffsetListParam"
        },
        {
          "$ref": "#/components/parameters/StatusFilterParam"
        },
        {
          "$ref": "#/components/parameters/ServiceIdFilterParam"
        }
      ],
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get invoices list",
        "responses": {
          "200": {
            "$ref": "#/components/responses/InvoicesListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/billing/invoice/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get invoice data",
        "responses": {
          "200": {
            "$ref": "#/components/responses/InvoiceResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/billing/invoice/{id}/status": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get invoice status",
        "responses": {
          "200": {
            "$ref": "#/components/responses/InvoiceStatusResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/billing/invoice/{id}/pay": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Pay invoice",
        "requestBody": {
          "$ref": "#/components/requestBodies/IvoicePayPost"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/InvoiceTransactionResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/billing/invoice/{id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "patch": {
        "tags": [
          "Billing"
        ],
        "summary": "Cancel invoice",
        "responses": {
          "200": {
            "$ref": "#/components/responses/InvoiceResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/billing/balance/add": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        }
      ],
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Add funds",
        "requestBody": {
          "$ref": "#/components/requestBodies/BalanceAddPost"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BalanceAddResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/billing/balance/invoices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/PeriodFromFilterParam"
        },
        {
          "$ref": "#/components/parameters/PeriodToFilterParam"
        },
        {
          "$ref": "#/components/parameters/LimitListParam"
        },
        {
          "$ref": "#/components/parameters/OffsetListParam"
        }
      ],
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get balance invoices list",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BalanceInvoicesListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/billing/balance/invoices/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XApiTokenHeaderParam"
        },
        {
          "$ref": "#/components/parameters/AcceptLanguageHeaderParam"
        },
        {
          "$ref": "#/components/parameters/IdentityPathParam"
        }
      ],
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get balance invoice data",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BalanceInvoiceResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "XApiTokenHeaderParam": {
        "name": "X-Api-Token",
        "in": "header",
        "description": "Api key",
        "required": true,
        "schema": {
          "type": "string"
        },
        "examples": {
          "Api key": {
            "summary": "Api key",
            "value": "w5848789980efd6e50d78b3811fcbaf78194e65b796a0e008a7def1"
          }
        }
      },
      "AcceptLanguageHeaderParam": {
        "name": "Accept-Language",
        "in": "header",
        "description": "Language of requesting content",
        "required": false,
        "schema": {
          "type": "string"
        },
        "example": "en"
      },
      "IdentityPathParam": {
        "name": "id",
        "in": "path",
        "description": "instance identity",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "s8ad7fhjn3kjbsd89fy"
      },
      "IpPathParam": {
        "name": "ip",
        "in": "path",
        "description": "ip",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "281.293.221.43"
      },
      "ProtocolPathParam": {
        "name": "protocol",
        "in": "path",
        "description": "ipv4 | ipv6",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "ipv4"
      },
      "StatusActionPathParam": {
        "name": "action",
        "in": "path",
        "description": "instance status",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "start | stop | reboot | force | cancel"
      },
      "CodePathParam": {
        "name": "code",
        "in": "path",
        "description": "instance code",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "SOME_IDENTITY_CODE"
      },
      "LimitListParam": {
        "name": "limit",
        "in": "query",
        "description": "list limitation",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "example": 10
      },
      "OffsetListParam": {
        "name": "offset",
        "in": "query",
        "description": "list offsetting",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "example": 0
      },
      "QueryFilterParam": {
        "name": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "in": "query",
        "description": "Search query",
        "example": "my_awsome_vps"
      },
      "LocationsFilterParam": {
        "name": "locations",
        "required": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "in": "query",
        "description": "Filter by locations codes"
      },
      "PlansFilterParam": {
        "name": "plans",
        "required": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "in": "query",
        "description": "Filter by plan code"
      },
      "PlatformsFilterParam": {
        "name": "platforms",
        "required": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "in": "query",
        "description": "Filter by platform code"
      },
      "DriveFilterParam": {
        "name": "drive",
        "required": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "in": "query",
        "description": "Filter by drive code"
      },
      "PeriodFilterParam": {
        "name": "period",
        "required": false,
        "schema": {
          "type": "string",
          "default": "1m"
        },
        "in": "query",
        "description": "Filter by period code"
      },
      "TopFilterParam": {
        "name": "top",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "in": "query",
        "description": "Filter by top",
        "example": "top=true"
      },
      "CPUTypeFilterParam": {
        "name": "cpu[type]",
        "required": false,
        "schema": {
          "type": "string"
        },
        "in": "query",
        "description": "Filter by CPU type",
        "example": "cpu[type]=intel"
      },
      "CPURangeFilterParam": {
        "name": "cpu",
        "required": false,
        "schema": {
          "type": "string"
        },
        "in": "query",
        "description": "Filter by CPU range",
        "example": "cpu[min]=1&cpu[max]=10"
      },
      "RAMRangeFilterParam": {
        "name": "ram",
        "required": false,
        "schema": {
          "type": "string"
        },
        "in": "query",
        "description": "Filter by RAM range",
        "example": "ram[min]=1&ram[max]=10"
      },
      "DriveTypeFilterParam": {
        "name": "drive[n][type]",
        "required": false,
        "schema": {
          "type": "string"
        },
        "in": "query",
        "description": "Filter by drives type",
        "example": "drive[0][type]=SSD&...&drive[n][type]=HDD"
      },
      "DriveRangeFilterParam": {
        "name": "drive",
        "required": false,
        "schema": {
          "type": "string"
        },
        "in": "query",
        "description": "Filter by drives range",
        "example": "drive[0][min]=300GB&drive[0][max]=600GB&...&drive[n][min]=300GB&drive[n][max]=600GB"
      },
      "BandwidthRangeFilterParam": {
        "name": "bandwidth",
        "required": false,
        "schema": {
          "type": "string"
        },
        "in": "query",
        "description": "Filter by bandwidth range",
        "example": "bandwidth[min]=10Mbps&bandwidth[max]=20Gbps"
      },
      "TrafficRangeFilterParam": {
        "name": "traffic",
        "required": false,
        "schema": {
          "type": "string"
        },
        "in": "query",
        "description": "Filter by traffic range",
        "example": "traffic[min]=10Tb&traffic[max]=unlimited"
      },
      "GPUFilterParam": {
        "name": "gpu",
        "required": false,
        "schema": {
          "oneOf": [
            {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            {
              "type": "boolean"
            }
          ]
        },
        "in": "query",
        "description": "Filter by gpu code",
        "example": "gpu[0]=nvidia310&gpu[1]=T1000-4GB or gpu=true|false"
      },
      "DDoSFilterParam": {
        "name": "ddos",
        "required": false,
        "schema": {
          "oneOf": [
            {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            {
              "type": "boolean"
            }
          ]
        },
        "in": "query",
        "description": "Filter by gpu code",
        "example": "ddos[0]=adv1200&ddos[1]=l2l4base or ddos=true|false"
      },
      "SortPriceFilterParam": {
        "name": "sort[price]",
        "required": false,
        "schema": {
          "type": "string"
        },
        "in": "query",
        "description": "Sorting by price",
        "example": "sort[price]=ASC"
      },
      "StatusesFilterParam": {
        "name": "statuses",
        "required": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "in": "query",
        "description": "Filter by status code"
      },
      "StatusFilterParam": {
        "name": "status",
        "required": false,
        "schema": {
          "type": "string"
        },
        "in": "query",
        "description": "Filter by status code"
      },
      "StatesFilterParam": {
        "name": "states",
        "required": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "in": "query",
        "description": "Filter by state code"
      },
      "PeriodFromFilterParam": {
        "name": "period[from]",
        "in": "query",
        "description": "period from",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "example": 1579443742
      },
      "PeriodToFilterParam": {
        "name": "period[to]",
        "in": "query",
        "description": "period to",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "example": 1579443742
      },
      "ServiceIdFilterParam": {
        "name": "service",
        "required": false,
        "schema": {
          "type": "string"
        },
        "in": "query",
        "description": "Filter by service id"
      },
      "ServiceIdsFilterParam": {
        "name": "services",
        "required": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "in": "query",
        "description": "Filter by service id's array"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Token"
      }
    },
    "requestBodies": {
      "AuthTokenBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "required": [
                "type"
              ],
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "password",
                    "2fa"
                  ]
                },
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                },
                "pin": {
                  "type": "number"
                }
              }
            },
            "examples": {
              "email": {
                "summary": "Auth via password",
                "value": {
                  "type": "password",
                  "email": "alex@example.com",
                  "password": "my_password"
                }
              },
              "2fa": {
                "summary": "2step of auth",
                "value": {
                  "type": "2fa",
                  "token": "abcabcabc",
                  "pin": 123456
                }
              }
            }
          }
        }
      },
      "SecutirySettingsPathBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "2fa_enabled"
              ],
              "properties": {
                "2fa_enabled": {
                  "type": "boolean"
                }
              },
              "example": {
                "2fa_enabled": "true | false"
              }
            }
          }
        }
      },
      "ProfilePatchBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "personal": {
                  "type": "object",
                  "properties": {
                    "firstname": {
                      "type": "string"
                    },
                    "lastname": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "network": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "identity": {
                          "type": "string"
                        }
                      }
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "line_1": {
                          "type": "string"
                        },
                        "line_2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "zip": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "company": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "vat": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "line_1": {
                          "type": "string"
                        },
                        "line_2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "zip": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "notifications": {
                  "type": "object",
                  "properties": {
                    "general": {
                      "type": "boolean"
                    },
                    "details": {
                      "type": "boolean"
                    },
                    "services": {
                      "type": "boolean"
                    },
                    "billing": {
                      "type": "boolean"
                    },
                    "support": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SubaccountPatchBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "personal": {
                  "type": "object",
                  "properties": {
                    "firstname": {
                      "type": "string"
                    },
                    "lastname": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "network": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "identity": {
                          "type": "string"
                        }
                      }
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "line_1": {
                          "type": "string"
                        },
                        "line_2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "zip": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "company": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "vat": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "line_1": {
                          "type": "string"
                        },
                        "line_2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "zip": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "access": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean"
                    },
                    "password": {
                      "type": "string"
                    },
                    "password_repeat": {
                      "type": "string"
                    },
                    "master": {
                      "type": "object",
                      "properties": {
                        "profile": {
                          "type": "boolean"
                        },
                        "services": {
                          "type": "object",
                          "properties": {
                            "view": {
                              "type": "boolean"
                            },
                            "modify": {
                              "type": "boolean"
                            },
                            "passwords": {
                              "type": "boolean"
                            }
                          }
                        },
                        "contacts": {
                          "type": "boolean"
                        },
                        "general": {
                          "type": "boolean"
                        },
                        "details": {
                          "type": "boolean"
                        }
                      }
                    },
                    "services": {
                      "type": "object",
                      "properties": {
                        "view": {
                          "type": "boolean"
                        },
                        "modify": {
                          "type": "boolean"
                        },
                        "notify": {
                          "type": "boolean"
                        }
                      }
                    },
                    "billing": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        },
                        "notify": {
                          "type": "boolean"
                        }
                      }
                    },
                    "affiliates": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        }
                      }
                    },
                    "support": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        },
                        "notify": {
                          "type": "boolean"
                        }
                      }
                    },
                    "emails": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SSHkeyCreateBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "title",
                "public"
              ],
              "properties": {
                "title": {
                  "type": "string"
                },
                "public": {
                  "type": "string"
                }
              },
              "example": {
                "title": "My desktop",
                "public": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC23RmfYUB96XO+mQ5CWY8wmzDTvEI1veTgFI/vClmLTNHzlm5TAQ4GXxNJZyyM4AQF/+DhI5I0gKivE4sce8yPN8qA9ufgHrwgUxOrF930Zeh/62XF8mScx9PrmS3p6FTHyeijDz+yfDHGCSKu+hw8wkh+66k7s+OesdfsdfsdfsdfCT4O3yg6gVQLPSOdxlIo+yuOguCyGtYKQXN1CPU5reIfdBZpZ6lUksglZhLpY39frZTqIVOKawhjA/STPGt1/YIfp5vJfGjE3ITQNu64dRODh0a4mqSOad38MEC1Let6jGeyRSyA2KE59DbufedKrAhUkGPp alex@example.com"
              }
            }
          }
        }
      },
      "ServicePatchSSH": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "users": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "keys": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "users": [
                  {
                    "username": "root",
                    "password": "98sd6v7843jbbsf",
                    "is_enabled": true
                  },
                  {
                    "username": "user",
                    "password": "jhbj34h5vfg87s9",
                    "is_enabled": false
                  }
                ],
                "keys": [
                  "SSH_KEY_ID_1",
                  "SSH_KEY_ID_3"
                ]
              }
            }
          }
        }
      },
      "VPNPatchBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "plan": {
                  "type": "object",
                  "properties": {
                    "auto_renew": {
                      "type": "boolean"
                    }
                  }
                }
              },
              "example": {
                "name": "HSE Group Servers",
                "tags": [
                  "HSE",
                  "Corporate"
                ],
                "plan": {
                  "auto_renew": true
                }
              }
            }
          }
        }
      },
      "VPSPatchBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "plan": {
                  "type": "object",
                  "properties": {
                    "auto_renew": {
                      "type": "boolean"
                    }
                  }
                }
              },
              "example": {
                "name": "HSE Group Servers",
                "tags": [
                  "HSE",
                  "Corporate"
                ],
                "plan": {
                  "auto_renew": true
                }
              }
            }
          }
        }
      },
      "VPSPatchVNC": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "is_enabled": {
                  "type": "boolean"
[...]
